@import "Default_min";

.titleInfo {
  text-align: center;
  margin-bottom: 10px;
  color: $site-color-2;
  font-family: "Roboto Black";
  margin: 0% 20% 2%;
}

.descriptionInfo {
  text-align: center;
  margin-bottom: 20px;
  color: $site-color-4;
  font-family: "Roboto";
  margin: 2% 5%;
}

.fullArticleInfo {
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Roboto";
  line-height: 1.4;
}

.pagination {
  margin-top: 40px;
  margin-bottom: -30px;
  font-family: "Roboto";
  font-style: italic;
  a {
    color: $site-color-2 !important;
  }
}

.previous {
  margin-left: 20px;
}

.next {
  margin-right: 20px;
}

$base-color: #ced4da;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  li.page-item.active {
    a.page-link {
      color: saturate(darken($base-color, 50%), 5%) !important;
      background-color: saturate(lighten($base-color, 7.5%), 2.5%) !important;
      border-color: $base-color !important;
    }
  }
}