@import "Default_min";

.articleLinkTo {
  color: black;
}

.articleLinkTo:hover {
  color:black;
}

.article{
  border: 0;
  border-bottom: solid 1px black;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  height: 100px;

  a{
    color: $black;
  }
}

/* Fake (pseudo) element, that enables vertical-align */
.title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.title{
  display: inline-block;
  width: 300px;
  color: #FF971D;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto Black";
  vertical-align: middle;
}

.description{
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-family: Roboto Light;
  font-style: italic;
  float: right;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.4;
}

.full_article{
  padding-bottom: 15px;
}

ul.pagination{

  float: right;

  a{
    color: $black;
  }
}

.article_pagination{
  display: flex;
  justify-content: space-between;

  .pagination-right, .pagination-left{
    width: 100px;
  }
}

.pagination_articles{
  margin: 10px !important;
}