@import "Default_min";

.container {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.carouselContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carouselContainerSubtitle {
  font-style: italic;
}

.carouselImage {
  margin-top: 10px;
  height: 500px;
}

.carouselCaption {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.4;
}

.carousel {
  width: 100%;
  padding: 0;
  margin: 0;
}

.Home_Title {
  text-align: center;
  font-size: large;
  font-family: Roboto Black;
}

.homeBlock {
  margin-top: 50px;
  height: 200px;
}

.homeBlockLeft {
  display: flex;
  height: 200px;
  width: 200px;
  background-color: $site-color-3;
  float: left;
  margin-left: 10px;
}

.homeBlockRight {
  display: flex;
  height: 200px;
  width: 200px;
  background-color: $site-color-3;
  float: right;
  margin-right: 10px;
}

.homeBlockTextLeft {
  display: block;
  height: 200px;
  width: 70%;
  margin-left: 1%;
  float: left;
  margin-bottom: 15px;
}

.homeBlockTextRight {
  display: block;
  height: 200px;
  width: 70%;
  margin-right: 1%;
  float: right;
  margin-bottom: 15px;
}

.homeBlockTextSubtitle {
  display: block;
  color: $site-color-2;
  font-family: "Roboto Black";
  float: inherit;
}

.homeBlockTextText {
  margin-top: 10px;
  display: block;
  float: inherit;
}

.homeBlockTextLink {
  margin-top: 10px;
  display: block;
  float: inherit;
  font-family: "Roboto";
  font-style: italic;
  color: $site-color-2;

  &:hover {
    color: $site-color-3
  }
}

.homeBlockText {
  text-align: center;
  font-size: medium;
  margin-top: 10px;
  width: 100%;
}

.homeBlockImage {
  background-color: $site-color-4;
  width: auto;
  height: auto;
}

.line {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 1px;
  background-color: black;
  position: relative;
}
.circle {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border: solid 1px black;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: calc(50% - 100px);
  background-color: $site-color-4;
}

.circleText {
  text-align: center;
  padding-top: 80px;
}

.imagesFooter {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.imagesFooterImage {
  display: block;
  align-content: center;
  height: 320px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff1755;
}

.imagesFooterText {
  display: block;
  text-align: center;
}

.gameDl {
  text-align: center;
  padding-top: 10px;
  color: $site-color-4;
  font-size: 14px;
}

.subTitle {
  margin-top: 40px;
  text-align: center;
}

.imageFooterLink {
  color: $site-color-2;

  &:hover{
    color: #FFE8D6
  }
}